.imagem-corrossel-um {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}
.imagem-corrossel-dois {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;

}

.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.cor-especial {
    color: darkred;
}

.botao-cor-especial {
    background-color: darkred;
    color: white
}

.borda-cor-especial {
    border-color: darkred;
}

.card-imagem-um {
    object-fit: cover;
    object-position: 0 80%;
    height: 200px;
    padding: 0%;
    margin: 0%;
}

.card-largura {
    max-width: 18rem;
}

.contato{
    text-decoration:none;
}
.cor-cinzaclaro{
    background-color: #f8f8f8;
}